<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
        .container {
            display: flex;
            align-items: flex-start;
        }
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            width: 178px;
            height: 178px;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
            border-radius: 50%;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
</head>


<body>
<div id="app">
        <el-container style="height: 500px; border: 1px solid #eee">
            <!--格式header-->
            <el-header style="text-align: right; font-size: 16px;">
                <span style="float: left; font-size: 20px; font-weight: bold;">员工</span>
                <el-dropdown style="margin-right: 15px;">
                    <i class="el-icon-setting" style="font-weight: bold; font-size: 14px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="modifyOpen">修改<i class="el-icon-edit"></i></el-dropdown-item>
                        <el-dropdown-item  style="color:lightcoral" @click.native="logOut">退出<i class="el-icon-right"></i></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span style="font-size: 16px; font-weight: bold; display: inline-block; vertical-align: middle;">{{ userData.name }}</span>
                <img :src="userData.face" style="width: 40px; height: 40px; border-radius: 50%; vertical-align: -15px; margin-left: 10px;"  alt="">


            </el-header>

            <el-container>
                <!--格式aside-->
                <el-aside width="200px" style="background-color: rgb(238, 241, 246); text-align: center;">
                    <!--文字链接-->
                    <br>
                    <el-link href="http://localhost:8080/manage/uNoticeInformation.html" target="_self"><h1>公告查看</h1></el-link>
                    <br><br>
                    <el-link href="http://localhost:8080/manage/uSalaryInformation.html" target="_self"><h1>薪资查询</h1></el-link>
                    <br><br>
                    <el-link href="http://localhost:8080/manage/uWorkInformation.html" target="_self"><h1>出勤信息</h1></el-link>
                    <br><br>
                    <el-link href="http://localhost:8080/manage/uLeaveInformation.html" target="_self"><h1>请假离职</h1></el-link>
                    <br><br>
                    <el-link href="http://localhost:8080/manage/uActivityInformation.html" target="_self"><h1>培训活动</h1></el-link>
                    <br><br>
                </el-aside>

                <!--格式main-->
                <el-main>
                    <!--搜索表单-->
                    <el-form :inline="true" :model="formInline" class="demo-form-inline">
                        <!--活动名称-->
                        <el-form-item label="活动名称">
                            <el-input v-model="formInline.activityName" placeholder="活动名称" size="default" :maxlength="15"></el-input>
                        </el-form-item>
                        <!--日期-->
                        <el-form-item label="日期">
                            <el-input v-model="formInline.date" placeholder="日期" size="default" :maxlength="10"></el-input>
                        </el-form-item>
                        <!--状态-->
                        <el-form-item label="状态">
                            <el-select v-model="formInline.state" placeholder="状态" value="" style="width:140px" size="default" >
                                <el-option label="全部" value=""></el-option>
                                <el-option label="未开始" value=待办></el-option>
                                <el-option label="已结束" value=结束></el-option>
                            </el-select>
                        </el-form-item>
                        <!--查询按钮-->
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit" size="default">查询</el-button>
                            <el-button type="" @click="myActivityOpen" size="default">我的活动</el-button>
                        </el-form-item>
                    </el-form>

                    <!--表格-->
                    <template>
                        <el-table
                                :data="tableData"
                                stripe
                                style="width: 100%;">
                            <!--序号-->
                            <el-table-column
                                    align="right"
                                    type="index">
                            </el-table-column>
                            <!--活动名称-->
                            <el-table-column
                                    prop="activityName"
                                    align="center"
                                    label="活动名称">
                            </el-table-column>
                            <!--活动介绍-->
                            <el-table-column
                                    prop="brief"
                                    align="center"
                                    label="活动介绍">
                            </el-table-column>
                            <!--人数-->
                            <el-table-column
                                    prop="number"
                                    align="center"
                                    label="人数">
                            </el-table-column>
                            <!--日期-->
                            <el-table-column
                                    prop="date"
                                    align="center"
                                    label="日期">
                            </el-table-column>
                            <!--修改按钮-->
                            <el-table-column
                                    align="center">
                                <template v-slot="scope">
                                    <el-link icon="el-icon-search" type="primary" @click="checkOpen(scope.row)"><h4>查看</h4></el-link>
                                    <el-link @click="joinActivity(scope.row)" type="success"><h4>加入<i class="el-icon-s-flag"></i></h4></el-link>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>

                    <!--分页-->
                    <!--本页条数/当前页码/当前页码/每页条数/每页条数/-->
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[5, 10, 15, 20]"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="totalCount">
                    </el-pagination>

                </el-main>
            </el-container>
        </el-container>

    <!--修改信息提示框-->
    <el-dialog
            title="修改账号信息"
            :visible.sync="showModifyMessage"
            width="35%">
        <!--正文-->
        <span>
            <template>
                 <el-form :model="ruleModifyForm" status-icon :rules="modifyRules" ref="ruleModifyForm" label-width="100px"
                          class="demo-ruleForm">
                     <!--修改信息显示的表单项-->
                     <el-upload
                             class="avatar-uploader"
                             :show-file-list="false"
                             :on-success="handleAvatarSuccess"
                             :before-upload="beforeAvatarUpload"
                             action="http://localhost:8080/manage/upload/uploadFace"
                             v-if="!ruleModifyForm.switch">
                             <img v-if="ruleModifyForm.face" :src="ruleModifyForm.face" class="avatar" alt="">
                             <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                     </el-upload>
                     <br>
                     <!--姓名-->
                     <el-form-item label="姓名" prop="name" v-if="!ruleModifyForm.switch">
                         <el-input v-model="ruleModifyForm.name" :maxlength="8"></el-input>
                     </el-form-item>
                     <!--性别-->
                     <el-form-item label="性别" v-if="!ruleModifyForm.switch">
                         <el-select v-model="ruleModifyForm.sex" value="" >
                             <el-option label="男" value="男"></el-option>
                             <el-option label="女" value="女"></el-option>
                         </el-select>
                     </el-form-item>

                     <!-- 修改密码显示的表单项 -->
                     <!--原密码-->
                     <el-form-item label="原密码" prop="pass" v-if="ruleModifyForm.switch">
                         <el-input type="password" v-model="ruleModifyForm.pass" autocomplete="off" :maxlength="8"></el-input>
                     </el-form-item>
                     <!--新密码-->
                     <el-form-item label="新密码" prop="password" v-if="ruleModifyForm.switch">
                         <el-input type="password" v-model="ruleModifyForm.password" autocomplete="off" :maxlength="8"></el-input>
                     </el-form-item>
                     <!--确认密码-->
                     <el-form-item label="确认密码" prop="checkPassword" v-if="ruleModifyForm.switch">
                         <el-input type="password" v-model="ruleModifyForm.checkPassword" autocomplete="off" :maxlength="8"></el-input>
                     </el-form-item>
                     <!--按钮-->
                     <el-form-item>
                         <el-button type="primary" @click="submitModifyForm('ruleModifyForm')">提交</el-button>
                         <el-button @click="showModifyMessage=false">取消</el-button>
                     </el-form-item>
                     <!-- 开关，控制显示哪些表单项 -->
                     <el-form-item style="text-align: left;">
                         <el-switch
                                 v-model="ruleModifyForm.switch"
                                 active-text="修改密码"
                                 inactive-text="修改资料">
                         </el-switch>
                     </el-form-item>
                 </el-form>
            </template>
        </span>
    </el-dialog>

    <!--查看活动信息-->
    <el-dialog
            :title="checkActivity.checkTitle"
            :visible.sync="showCheckMessage"
            width="60%">
        <!--正文-->
        <span>
            <!--查看搜索表单-->
            <el-form :inline="true" :model="activityData" class="demo-form-inline">
                <!--活动名称-->
                <el-form-item label="姓名">
                    <el-input v-model="activityData.userName" placeholder="姓名" size="small" style="width: 120px" :maxlength="8"></el-input>
                </el-form-item>
                <!--得分-->
                <el-form-item label="得分">
                    <el-input v-model.number="activityData.score" placeholder="得分" maxlength="3" size="small" style="width: 120px" @input="checkNumber" ></el-input>
                </el-form-item>
                <!--查询按钮-->
                <el-form-item>
                    <el-button type="primary" @click="selectCheck" size="small">查询</el-button>
                </el-form-item>
            </el-form>
            <template>
              <el-table
                      :data="checkTableData"
                      size="small"
                      stripe
                      style="width: 100%">
              <!--序号-->
              <el-table-column
                      align="right"
                      type="index">
              </el-table-column>
              <!--头像-->
              <el-table-column
                      prop="face"
                      align="right">
                  <template v-slot="scope">
                      <img :src="scope.row.face" alt="头像" style="width: 50px; height: 50px; border-radius: 50%;">
                  </template>
              </el-table-column>
              <!--姓名-->
              <el-table-column
                      prop="userName"
                      align="center"
                      label="姓名">
              </el-table-column>
              <!--账号-->
              <el-table-column
                      prop="account"
                      align="center"
                      label="账号">
              </el-table-column>
              <!--得分-->
              <el-table-column
                      prop="score"
                      align="center"
                      label="得分">
              </el-table-column>
              </el-table>
            </template>
        </span>
        <!--按钮-->
        <span slot="footer" class="dialog-footer">
             <el-button type="primary" @click="showCheckMessage = false">确 定</el-button>
        </span>
    </el-dialog>

    <!--查看我的活动-->
    <el-dialog
            :title="我的活动"
            :visible.sync="showMyActivityMessage"
            width="60%">
        <!--正文-->
        <span>
            <template>
              <el-table
                      :data="myActivityTableData"
                      stripe
                      style="width: 100%">
              <!--序号-->
              <el-table-column
                      align="right"
                      type="index">
              </el-table-column>
              <!--活动名称-->
              <el-table-column
                      prop="activityName"
                      align="center"
                      label="活动名称">
              </el-table-column>
              <!--活动介绍-->
              <el-table-column
                      prop="brief"
                      align="center"
                      label="活动介绍">
              </el-table-column>
              <!--人数-->
              <el-table-column
                      prop="number"
                      align="center"
                      label="人数">
              </el-table-column>
              <!--日期-->
              <el-table-column
                      prop="date"
                      align="center"
                      label="日期">
              </el-table-column>
              <!--得分-->
              <el-table-column
                      prop="score"
                      align="center"
                      label="得分">
              </el-table-column>
              <el-table-column
                      align="center">
                  <template v-slot="scope">
                      <el-link type="primary" style="color:lightcoral" @click="quitOpen(scope.row)"><h4>退出<i class="el-icon-right"></i></h4></el-link>
                  </template>
              </el-table-column>
              </el-table>
            </template>
        </span>
        <!--按钮-->
        <span slot="footer" class="dialog-footer">
             <el-button type="primary" @click="showMyActivityMessage = false" >确 定</el-button>
        </span>
    </el-dialog>

</div>

<!--引入axios文件-->
<script src="js/axios-0.18.0.js"></script>
<!--引入vue文件-->
<script src="js/vue.js"></script>
<!--引入el文件-->
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">


<script>


    new Vue({
        el: '#app',
        mounted() {
            this.loadData();
            this.selectAll();
        },
        methods: {
            //加入活动
            joinActivity(row){
                if (row.state==="结束"){
                    this.$message({
                        showClose: true,
                        message: '活动已结束',
                        type: 'error'
                    });
                    return;
                }
                this.activityData.activityId=row.activityId;
                axios({
                    method: "post",
                    url: "http://localhost:8080/manage/activity/addActivityData",
                    data: this.activityData
                }).then(resp => {
                    if (resp.data === "success") {
                        this.$message({
                            type: 'success',
                            message: '加入成功!'
                        });
                        this.selectAll();
                        return;
                    }
                    this.$message({
                        message: '您已加入活动',
                        type: 'warning'
                    });
                })

            },
            //过滤非数字信息
            checkNumber(value) {
                let num = value.replace(/\D/g, '');
                this.activityData.score = num;
            },
            //我的活动查询
            selectMyActivity(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/manage/activity/selectMyActivityData",
                    data:''
                }).then(resp => {
                    this.myActivityTableData = resp.data;
                })
            },
            //打开我的活动表单
            myActivityOpen(){
                this.selectMyActivity();
                this.showMyActivityMessage=true;
            },
            //退出活动
            quitOpen(row){
                this.$confirm('是否退出活动?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    if (row.state === "结束") {
                        this.$message({
                            showClose: true,
                            message: '活动已结束',
                            type: 'error'
                        });
                        return;
                    }
                    this.outActivity.activityId=row.activityId;
                    axios({
                        method: "post",
                        url: "http://localhost:8080/manage/activity/deleteActivityData",
                        data: this.outActivity
                    }).then(resp => {
                        this.$message({
                            type: 'success',
                            message: '退出成功!'
                        });
                        this.selectAll();
                        this.selectMyActivity();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消退出'
                    });
                });
            },
            //查询分页数据
            selectAll() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/manage/activity/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.formInline
                }).then(resp => {
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
            },
            //更新本页条数
            handleSizeChange(val) {
                this.pageSize=val;
                this.selectAll();
            },
            //更新当前页码
            handleCurrentChange(val) {
                this.currentPage=val;
                this.selectAll();
            },
            //提交搜索表单
            onSubmit() {
                this.selectAll();
            },
            //打开修改表单
            modifyOpen(){
                this.ruleModifyForm.account='';
                this.ruleModifyForm.checkPassword='';
                this.ruleModifyForm.password='';
                this.ruleModifyForm.pass='';
                this.ruleModifyForm.name=this.userData.name;
                this.ruleModifyForm.sex=this.userData.sex;
                this.ruleModifyForm.face=this.userData.face;
                this.showModifyMessage=true;
            },
            //打开查看表单
            checkOpen(row){
                this.checkActivity.checkTitle=row.activityName;
                this.activityData.activityId=row.activityId;
                this.activityData.userName='';
                this.activityData.score='';
                this.selectCheck();
                this.showCheckMessage=true;
            },
            //查看表单搜索
            selectCheck(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/manage/activity/selectActivityData",
                    data: this.activityData
                }).then(resp => {
                    this.checkTableData = resp.data;
                })
            },
            //提交修改表单
            submitModifyForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (!this.ruleModifyForm.switch){
                            if (this.ruleModifyForm.face!=="img/male.png"&&this.ruleModifyForm.face!=="img/female.png"){
                                this.ruleModifyForm.face="null";
                            }
                            //信息修改
                            axios({
                                method: "post",
                                url: "http://localhost:8080/manage/user/updateUser",
                                data: this.ruleModifyForm
                            }).then(resp => {
                                if (resp.data === "success") {
                                    this.showModifyMessage=false;
                                    this.$message({
                                        type: 'success',
                                        message: '修改成功!'
                                    });
                                    this.loadData();
                                    this.selectAll();
                                    location.reload();
                                    return;
                                }
                                this.$message({
                                    showClose: true,
                                    message: '账号已存在',
                                    type: 'error'
                                });
                            })
                            return;
                        }
                        //密码修改
                        this.ruleModifyForm.account=this.ruleModifyForm.pass
                        axios({
                            method: "post",
                            url: "http://localhost:8080/manage/user/modifyPassword",
                            data: this.ruleModifyForm
                        }).then(resp => {
                            if (resp.data === "success") {
                                this.showModifyMessage=false;
                                this.$message({
                                    type: 'success',
                                    message: '修改成功!'
                                });
                                return;
                            }
                            this.$message({
                                showClose: true,
                                message: '原密码错误',
                                type: 'error'
                            });
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //退出按钮
            logOut() {
                this.$confirm('确认退出？','提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/manage/user/loadOut",
                        data: ''
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.$message({
                                type: 'success',
                                message: '退出成功!'
                            });
                            setTimeout(() => {
                                location.href="http://localhost:8080/manage/login.html";
                            }, 500);
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消退出'
                    });
                });
            },
            //加载数据
            loadData(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/manage/user/loadData",
                    data:''
                }).then(resp => {
                    this.userData=resp.data;
                })
            },
            //修改头像展示
            handleAvatarSuccess(res, file) {
                this.ruleModifyForm.face = URL.createObjectURL(file.raw);
            },
            //上传头像验证
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }, data() {
            //修改密码
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (!/^[0-9a-zA-Z]{8}$/.test(value)) {
                        callback(new Error('密码必须是8位数字或字母'));
                    }
                    callback();
                }
            };
            //姓名验证
            var validateName = (rule, value, callback) => {
                const pattern = /^[a-zA-Z\u4e00-\u9fa5]{1,8}$/;
                if (!value) {
                    return callback(new Error('姓名不能为空'));
                } else if (!pattern.test(value)) {
                    callback(new Error('姓名必须是8位以内的汉字或字母'));
                } else {
                    callback();
                }
            };
            //修改验证密码验证
            var validateCheckPassword = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleModifyForm.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            //修改密码验证
            var validatePassword = (rule, value, callback) => {
                const pattern = /^[0-9a-zA-Z]{8}$/;
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else if (!pattern.test(value)) {
                    callback(new Error('密码必须是8位数字或字母'));
                } else {
                    if (this.ruleModifyForm.checkPassword !== '') {
                        this.$refs.ruleModifyForm.validateField('checkPassword');
                    }
                    callback();
                }
            };
            return{
                //退出活动模型
                outActivity:{
                    userId:'',
                    activityId:'',
                },
                //修改信息表单
                showModifyMessage:false,
                //修改表单模型
                ruleModifyForm: {
                    account:'',
                    switch: false,
                    face:'',
                    name:'',
                    sex:'',
                    pass: '',
                    password: '',
                    checkPassword: '',
                },
                //修改表单验证
                modifyRules: {
                    name: [{ validator: validateName, trigger: 'blur' }],
                    pass: [{ validator: validatePass, trigger: 'blur' }],
                    password: [{ validator: validatePassword, trigger: 'blur' }],
                    checkPassword: [{ validator: validateCheckPassword, trigger: 'blur' }],
                },
                //表格模型
                tableData: {
                    activityName: '',
                    date:'',
                    brief:'',
                    number:'',
                },
                //搜索表单
                formInline: {
                    activityName: '',
                    date:'',
                    state:'',
                },
                //查看活动信息表单
                showCheckMessage:false,
                //我的活动表格模型
                myActivityTableData:{
                    activityName:'',
                    brief:'',
                    date:'',
                    state:'',
                    number:'',
                    score:'',
                },
                //查看我的活动表单
                showMyActivityMessage:false,
                //活动模型
                activityData: {
                    activityName: '',
                    brief: '',
                    date: '',
                    userName:'',
                    score:'',
                    state:'',
                },
                //查看表格模型
                checkTableData: {
                    activityDataId:'',
                    face:'',
                    account:'',
                    userName:'',
                    score:''
                },
                //查看表单状态
                checkActivity:{
                    checkTitle:'',
                },
                //当前页码
                currentPage: 1,
                //用户模型
                userData: {
                    face:'',
                    id:'',
                    name:'',
                    sex:'',
                    account:''
                },
                //总记录数
                totalCount:0,
                //每页显示条数
                pageSize:5,
            }
        },
    })



</script>
</body>
</html>